*, html, body{
    box-sizing: border-box;
    margin: none;
    padding: none;
}

[name="Main"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    width: 100%;
}

.navbar{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    margin: 0 0 25px 0;
    box-shadow: 
        0 2px 4px rgba(0, 0, 0, 0.09);
    height: 75px;
}

[data-name='slideshow']{
    display:flex;
    width: 85%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    
    box-shadow: 
        0 2px 4px rgba(0, 0, 0, 0.05), 
        0 10px 20px rgba(0, 0, 0, 0.05);
}

[data-name='track']{
    display: flex;
    justify-content: space-evenly;
}

[name='email-form']{
    margin: 2em 0;
    padding: 1em 0;
    display: flex;
    width: 80%;
    max-width: 500px;
    flex-direction: column;
}

[name='email-form'] > input, textarea{
    outline: none;
    border: none;
    padding: 0.5em;
    margin: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

[data-name='logo-container']{
    width: 250px;
    height: 75px;
    overflow: hidden;
}
[data-name='logo-container'] > img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

[data-name='func-container']{
    
}

[data-name='search-bar']{
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 
        0px 2px 4px rgba(111, 0, 200, 0.09);
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-item{
    padding: 10px;
    outline: 1px solid rgba(111, 0, 200, 0.09);
    margin: 0 2px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 600px){
    [data-name='slideshow']{
        min-width: 100%;
        border-radius: 0px;
        box-shadow: none;
        height: 300px;
    }

    .navbar{
        display: flex;
        flex-direction: column;
        height: 80px;
    }

    [data-name='logo-container'], [data-name='func-container']{
        
        visibility: hidden;
    }

    [data-name='search-bar']{
        display: flex;
        visibility: visible;
        margin: auto auto 20px auto;
        width: 100%;
    }
}

@media screen and (max-width: 1100px){
    [data-name='slideshow']{
        min-width: 100%;
        border-radius: 0px;
    }

     [data-name='logo-container'], [data-name='func-container']{
        display: none;
    }

    [data-name='search-bar']{
        display: flex;
        visibility: visible;
        margin: auto auto 20px auto;
        width: 100%;
    }
}

