*, html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

[name="Main"]{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero {
    width: 100%;
    position: relative;
    height: 800px;
    background: linear-gradient(
    to top,
    #2f4f5d 0%,
    #243f52 35%,
    #182b3a 65%,
    #0b1a26 100%
  );
}

/* [name='Main']::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;

  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.0' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.5'/%3E%3C/svg%3E");
  mix-blend-mode: soft-light;
} */

.navbar{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    min-width: 100%;
    background-color: none;
    margin: 0;
    /* box-shadow: 
        0 2px 4px rgba(0, 0, 0, 0.09); */
    height: 75px;
    position: absolute;
}

.product-container{
    width: 80%;
    height: 500px;
    /* outline: 2px solid; */
    background: transparent;
    justify-content: space-around;
    margin: 2em auto;
    display: flex;
}

/* [data-name='slideshow']{
    display:flex;
    width: 85%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    
    box-shadow: 
        0 2px 4px rgba(0, 0, 0, 0.05), 
        0 10px 20px rgba(0, 0, 0, 0.05);
}

[data-name='track']{
    display: flex;
    justify-content: space-evenly;
} */

[name='email-form']{
    margin: 2em 0;
    padding: 1em 0;
    display: flex;
    width: 80%;
    max-width: 500px;
    flex-direction: column;
}

[name='email-form'] > input, textarea{
    outline: none;
    border: none;
    padding: 0.5em;
    margin: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

[data-name='logo-container']{
    width: 250px;
    height: fit-content;
    overflow: hidden;
}
/* [data-name='logo-container'] > img{
    object-fit: contain;
    width: 100%;
    height: 100%;
} */

[data-name='search-bar']{
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 
        0px 2px 4px rgba(111, 0, 200, 0.09);
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-item{
    padding: 10px;
    /* outline: 1px solid rgba(111, 0, 200, 0.09); */
    margin: 0 2px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product-container > div {
    padding: 15px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    min-width: 150px;
    text-align: center;
}

@media screen and (max-width: 600px){
    [data-name='slideshow']{
        min-width: 100%;
        border-radius: 0px;
        box-shadow: none;
        height: 300px;
    }

    .navbar{
        display: flex;
        flex-direction: column;
        height: 80px;
    }

    [data-name='logo-container'], [data-name='func-container']{
        
        visibility: hidden;
    }

    [data-name='search-bar']{
        display: flex;
        visibility: visible;
        margin: auto auto 20px auto;
        width: 100%;
    }
}

@media screen and (max-width: 1100px){
    [data-name='slideshow']{
        min-width: 100%;
        border-radius: 0px;
    }

     [data-name='logo-container'], [data-name='func-container']{
        display: none;
    }

    [data-name='search-bar']{
        display: flex;
        visibility: visible;
        margin: auto auto 20px auto;
        width: 100%;
    }
}
