<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section name="tracking-container">

    
        <section name="">
            <div class="container">
                <h1>S C B</h1>
                <p>Supreme Counselling Barbados</p>
            </div>
        </section>

        <section name="">
            <div>
                About Us
            </div>
            <div>
                Contact Us
            </div>
            <div>
                Find Us
            </div>
            <div>
                <input type="text" search="search" placeholder="Search...">
            </div>
        </section>

        <section name="hero">
            <div name="slideshow">
                <img src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="Counselling Image">
            </div>

            <div>
                <h1>Welcome to Supreme Counselling Barbados</h1>
                <p>Your trusted partner in mental health and well-being.</p>
            </div>
        </section>

    </section>
</body>
</html>